body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10PX 20px;
    background-color: #000;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 70%;
    align-items: center;
    border: 2px dashed rgb(141, 73, 197);
    margin-left: 15%;
    border-radius: 40px;
    margin-top: 30px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
.header nav a:hover {
    text-decoration: underline;
}
.contact-button {
    padding: 8px 15px;
    border: 1px solid #f200ff;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
}
.contact-button:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    size: 10px;
}
.content {
    text-align: center;
    padding: 50px 20px;
    margin-top: 250px; 
    margin-bottom: 200px;
}
.content h1 {
    font-size: 50px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.images img {
    width: 30%;
    border-radius: 10px;
}
button{
margin-left: 1%;
height: 60px;
width: 20%;
font-size: 35px;
background-color: rgb(0, 0, 0);
font-family: 'Times New Roman', Times, serif;
margin-top: 20px;   
border: 3px solid rgb(141, 73, 197);
border-radius: 24px;
}
BUTTON:hover{background-color: #000000;
font-weight: bold;
color: white;
}
*{
font-family: 'Times New Roman', Times, serif;
}
.h1{
opacity: 1;
transform: none;
text-align: center;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
margin-top: 80px;
margin-bottom: 20%;;
}
#card{
height: 350px;
width:350px;
border: 4px solid rgb(105, 0, 123);
border-radius: 10%;
/* justify-content: center; */
display: inline-block;
margin-left: 5%;
margin-top: 5%;
overflow: hidden;
}
h3{
text-align: center;
}
#container{
text-align: center;
margin-right: 5%;
/* display: flex; */
}
#card img{
height: 190px;
width: 350px;
/* margin-top: 2%; */
/* border-radius: 10%; */
}
#facility{
text-align: center;
font-size: 60px;
margin-top: 270px;
color: yellow;
}
#card:hover{
    transform: scale(1.05);
}
#card h3{
    color: yellowgreen;
}
.containerf {
    /* padding: 20px; */
    margin-left: 10%;
    position: relative;
}
.containerf img {
    position: absolute;
    top: 5%;
    bottom: 2%;
    right: 10%;
    height: 90px;
    width: 15%;
}
.containerf h1{
    color: #f200ff;
    /* position: absolute; */
}
#hr1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.containerf p{
    position: absolute;
    margin-top: 0px;
}
#benefit h1{
text-align: left;
font-size: 80px;
color: yellow;
margin-left: 10%;
float: left;
}
#benefit p{
    text-align: left;
    margin-left: 35%;
    font-size: 25px;
    margin-right: 10%;
}
#benefit strong{
    color: yellowgreen;
}
#benefit hr{
    border: 1px solid #333;
    margin-left: 35%;
    margin-right: 10%;
}